{% extends 'accounts/base.html' %}

{% block content %}
<center>
<div class="p-3 mt-0 text-primary" style="background:rgba(0, 0, 0, 0.8);z-index:3;"><strong>Mes Command</strong></div>

{% for order in orders%}
<div class="col-md-3 card my-3 mx-0" style="z-index:3;">
<h6 class="bg-default p-3 mb-0"> <a href="#">{{ order.variant}} <strong class="ml-2">{{ v.color}} </strong> </a>  <a data-toggle="collapse" href="#AboutUser" aria-expanded="true" aria-controls="AboutUser" class="align-text-top text-white pull-right"><small>Hide</small></a></h6>
<div class="card-block p-3 collapse show" id="AboutUser">
  <ul class="cl list-group">
    <li class=" mb-2 list-group-item"><span class="mr-1 mb-5">Acheteur :</span><strong class="ml-2" >{{ order.buyer_name}}</strong></li>
    <li class=" mb-2 list-group-item"><span class="mr-1">telephone :</span><strong class="mx-1">[{{order.phone}}],</strong></li>
    <li class=" mb-2 list-group-item"><span class="mr-1">place :</span><strong class="mx-1">[{{order.location}}],</strong></li>
    <li class=" mb-2 list-group-item"><span class="mr-1">date :</span><strong class="mx-1">[{{order.timestamp}}],</strong></li>
  </ul>
  
</div>

</div>
{% endfor %}
</center>
{% endblock content %}